.title{
    color: black;
}
.artist{
    color: black;
}
.hidden{
    display: none;
}
.clickable{
    cursor: pointer;
}
.main-wrapper{
    text-align: center;
}
.artwork{
    height: 220px;
    width: 380px;
}
.player-cont{
    margin-top: 40px;
    text-align: center;
}

/*    ////////////////       */

.top-wrapper{
    background-color: #62DA64;
    text-align: center;
    height: 120px;
}
body{
    font-family: "Century Gothic", sans-serif !important;
    text-transform: uppercase;
}
.product-description{
    margin-top: 100px;
}
.clickable{
    cursor: pointer;
}
.hidden{
    display: none;
}
.logos{
    text-align: center;
    margin-top: 25px;
    background-image: url('../images/logonotext.png');
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}
.logos:hover{
    background-image: url('../images/logogreen.png');
}
.ready{
    margin-top: 20px;
}
.logonotext{
    height: 100px;
    width: 100px;
}
.logogreen{
    height: 100px;
    width: 100px;
}
.logo{
    margin-top: 10px;
    height: 95px;
    width: 550px;
}
.about-header{
    margin-top: 40px;
}
.listen-div{
    margin-top: 40px;
}

.main-wrapper{
    text-align: center;
    height: 450px;
}

.song-info-cont{
    background-color: rgba(230, 150, 120, .5);
    border-radius: 15px;
    display: inline-block;
    padding: 20px 20px 6px 20px;
    border: 1px solid rgba(70, 0, 80, .4);
}

.media-button-cont{
    margin-top: 35px;
    text-align: center;
}
.play-btn{
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-left: 15px;
}
.play-btn:hover{
    color: #62DA64;
}
.pause-btn:hover{
    color: #62DA64;
}
.next-btn:hover{
    color: #62DA64;
}
.pause-btn{
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-left: 15px;
}
.next-btn{
    display: inline-block;
    height: 80px;
    width: 80px;
}
/*.heart-btn{*/
    /*display: inline-block;*/
    /*height: 50px;*/
    /*width: 50px;*/
/*}*/
/*.heart-btn:hover{*/
    /*color: red;*/
/*}*/
/*!*.red-heart{*!*/
    /*!*height: 73px;*!*/
    /*!*width: 63px;*!*/
/*!*}*!*/
.red{
    color: red;
}
.heart {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.heart:hover{
    color: red;
}
.heartliked{
    display: inline-block;
    height: 50px;
    width: 50px;
    color: red;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
    text-decoration: none;
}

.footer{
    text-align: center;
    color: darkgray;
    bottom: 0px;
}

.navigation{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
}
.info-link{
    color: black;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.info-link:hover{
    color: #62DA64;
    text-decoration: none;
}

@media screen and (max-width: 540px){
    .logo{
        height: 70px;
        width: 450px;
    }
}

@media screen and (max-width: 450px){
    .logo{
        height: 70px;
        width: 350px;
    }
}

@media screen and (max-width: 350px){
    .logo{
        margin-top: 15px;
        height: 65px;
        width: 320px;
    }
}

@media screen and (max-width: 668px){
    .navigation{
        width: 100%;
    }
}

@media screen and (max-width: 341px){
    a{
        display: block;
    }
}